@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;  
    text-transform: small-caps;
}

header>p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: red;
}

section{
    padding-top: 10vh;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(63, 63, 63);
    color: white;

}

section.imagem>p{
    background-color: rgb(108, 108, 108);
    width: 400px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}