@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Passion +One & display=swap');

@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;  
    text-transform: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header>p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
    color: red;
}

section{
    padding-top: 10vh;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(63, 63, 63);
    color: white;

}

section.imagem>p{
    background-color: rgb(108, 108, 108);
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}